CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_MEMCPY_MEMSET_STD=y
CONFIG_LV_ATTRIBUTE_FAST_MEM=y
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_USE_CHART=y
CONFIG_LV_USE_PERF_MONITOR=y

# 启用lvgl示例
CONFIG_LV_USE_DEMO_WIDGETS=y
# CONFIG_LV_USE_DEMO_MUSIC=y
# CONFIG_LV_USE_DEMO_STRESS=y
# CONFIG_LV_USE_DEMO_BENCHMARK=y